<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
